*
{
margin: 0;
padding: 0;
}
body
(
    font-family: sans-serif;

)
#navbar
{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar
{
    
    padding:0; !important;
  
}
.navbar-brand img
{
height: 40px;
padding-left: 0spx;
}
.navbar-navn li
{
    padding: 0 10px;
    font-size: 20px;
    font-weight: 400px;
}

.navbar-nav li a
{
    color: #251212 !important;
    font-weight: 400px;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}

#home-section
{

    padding: 100px; !important;
}
.contact-button
{
    box-shadow: none;
    padding: 4px 2px;
    border: none;
    border-radius: 10px;
    
    color: #fff !important;
    margin: 20PX;

}
.hero-viedo--section
{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    width: 600px;
    border-radius: 2rem;
}
.img-fluid
{
    width: 800px;;
    margin-top: 5px;
}
.home h5
{
    margin-top: 60px;  
    color: #0d080f;
}


#services-section
{
    padding: 20px 0;
    text-decoration: none;

}
.service-img
{
    width: 80%;;
    margin-top: 20px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2rem;
    
}

.services
{
    padding: 30px;
}
.services h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.services h3
{
    padding: 5px;
    margin-top: 25px;
}
.services p
{
    text-align: center;
    text-size-adjust: 20px;
}
#services-section .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-color: #5f1782;
    pa

}
#project-section
{
    padding: px 0;
    text-decoration: none;

}
.pro-img
{
    width: 100%;;
    margin-top: 20px;
    border-radius: 2rem;
}
#project-section .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: 20px;
    border-radius: 20px;
    background-color: #5f1782;
    margin-top: 20px;

}

#contact-section
{
    padding: 80px 0;
    text-decoration: none;
    background-color: #5f1782;
    color: #fff;

}
.form-section
{
    width: 50%;
    margin-left: 40px;
    margin-right: 40px;

}
hr
{
background-color: #fff;
}
.copy-write
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}